.exams-index-overflow {
    overflow: hidden;
}

.exams-index-nothing {
    text-align: center;
    margin-top: 10vh;
}

.exams-index-card {
    margin-bottom: 0;
    border-radius: 8px;
    overflow: hidden;
}

.exams-index-layout {
    height: 100vh;
    overflow-x: hidden;
}

.exams-index-row {
    margin-top: 30px;
}

.exams-index-select {
    width: 100%;
}
