.school-tests-overflow {
    overflow: hidden;
}

.school-tests-card {
    margin-bottom: 0;
    border-radius: 4px;
}

.school-tests-nothing {
    text-align: center;
    margin-block: 20vh;
}

.school-tests-button {
    background-color: #22aff5;
    border-color: #22aff5;
    color: white;
}

.school-tests-select {
    width: 100%;
    text-align: center;
}
