.top-nav-menu {
    height: 46px;
    border: 0;
}

:global(.ant-layout) .sidebar-sider {
    overflow: auto;
    height: 100vh;
    position: sticky;
    left: 0;
    top: 0;
    bottom: 0;
}

:global(.ant-layout) .sidebar-menu {
    padding: 12px 0 30px 0;
}

:global(.ant-layout) .header-nav {
    position: sticky;
    z-index: 1000;
    width: 100%;
    top: 0;
    padding: 0;
    height: 46px;
    line-height: 46px;
    background-color: #fff;
}

:global(.ant-layout) .header-nav .header-nav-submenu {
    margin-left: auto;
    position: relative;
}

.exam-nav-menu {
    height: 46px;
    border: 0;
    position: sticky;
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: center;
}

.exam-nav-menu .exam-nav-item {
    position: absolute !important;
    margin-inline: auto;
}

.exam-nav-menu :global(.ant-menu-item-disabled) {
    color: rgb(241, 121, 9) !important;
}

.custom-layout-content {
    margin: 10px 16px 0;
    overflow: initial;
}

.custom-layout-footer {
    text-align: center;
}

.header-bold {
    font-weight: 700;
    color: rgb(241, 121, 9);
}

.header-div {
    margin-top: 15px;
    color: rgb(232, 126, 13);
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    transform: scale(0.5);
    opacity: 0;
    animation: header-div 1.5s cubic-bezier(0.42, 0, 0.54, 1.27) forwards;
}

@keyframes header-div {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* @media (max-width: 576px) {
    .exam-nav-menu .exam-nav-item {
        left: 0%;
    }
} */
