.exam-detail-input-position {
    position: fixed;
}

.exam-detail-input-center {
    text-align: center;
}

.exam-detail-space {
    display: flex;
}

.exam-detail-label {
    display: inline;
}

.exam-detail-radio-group {
    width: 100%;
}

.exam-detail-form-padding {
    padding-bottom: 10px;
}

.exam-detail-outlined-display {
    display: none;
}

.exam-detail-radio-label {
    width: 100%;
}
