.exam-header {
    position: sticky;
    z-index: 1000;
    width: 100%;
    top: 0;
    padding: 0 20px;
    height: 46px;
    /* line-height: 46px; */
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exam-header-bold {
    font-weight: 700;
    color: rgb(241, 121, 9);
}

.exam-header-middle {
    margin: auto;
}

.exam-nav-count {
    font-size: 20px;
    font-weight: 500;
}

.exam-nav-count-margin {
    margin: 3px;
    position: relative;
    top: -1px;
}

/* .exam-student-name {
    color: rgb(241, 121, 9);
} */

@media screen and (max-width: 420px) {
    .exam-student-name {
        display: none;
    }

    .exam-nav-count {
        font-size: 17px;
    }
}

@media screen and (max-width: 220px) {
    .exam-header-bold {
        display: none;
    }
    .exam-countdown {
        margin: auto;
    }
}
