.hoverIconSave:hover {
    font-size: 22px !important;
    color: #28bd2d !important;
}

/* .antIcon .anticon .anticon-check-circle {
    font-size: 20px;
    color: rgb(147, 144, 144);
}

.anticon .anticon-check-circle .antIcon:hover {
    font-size: 22px;
    color: #28bd2d;
} */
