html,
body {
    font-family: "Montserrat", "Roboto", sans-serif;
    font-weight: 400;
    /* overflow-x: hidden !important; */
}
html {
    font-size: 20px !important;
}

::-webkit-scrollbar {
    width: 0.6vw;
    height: 0.4vh;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: #585757;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #282626;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 4px;
}

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: #585757 #f5f5f5;
        scrollbar-width: thin;
    }
}

/* body::-webkit-scrollbar {
    width: 0.6vw;
    height: 0.4vh;
    background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
    background-color: #585757;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #282626;
    border-radius: 4px;
}

body::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 4px;
} */

.ant-table-body::-webkit-scrollbar {
    height: 1vh;
    width: 0.5vw;
    background-color: #f5f5f5;
}

.ant-table-body::-webkit-scrollbar-thumb {
    background-color: #585757;
    border-radius: 4px;
}
.ant-table-body::-webkit-scrollbar-thumb:hover {
    background-color: #282626;
    border-radius: 4px;
}
.ant-table-body::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 4px;
}

.ant-card::-webkit-scrollbar {
    height: 1vh;
    width: 0.4vw;
    background-color: #f5f5f5;
}

.ant-card::-webkit-scrollbar-thumb {
    background-color: #848181;
    border-radius: 4px;
}
.ant-card::-webkit-scrollbar-thumb:hover {
    background-color: #585757;
    border-radius: 4px;
}
.ant-card::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 4px;
}

.ant-form .scroll-bar-none:hover {
    overflow-y: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

li {
    margin-bottom: 5px;
}

#components-layout-demo-fixed-sider .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
    padding: 30px;
    background: #fff;
}
.margin-left-auto {
    margin-left: auto !important;
}

.logo {
    width: 50%;
    height: 24px;
    margin: auto;
    display: block;
}

.background-section {
    background-color: #e1e1e1;
}

.ant-form .ant-card {
    margin: 1vh 0.5vh;
    overflow: hidden;
    padding: 0px;
}

.ant-col .question-list-card {
    margin: 1vh 0.5vh;
    overflow-y: auto;
}

.ant-card .ant-card-body {
    padding: 14px;
    margin: 5px;
}

.inner-card-padding-small .ant-card-body {
    padding: 6px;
    margin: 5px;
}

.inner-card-padding-small-marginbottom .ant-card-body {
    padding: 14px 6px 0px 6px;
    margin: 6px 0px 0px 0px;
}

.ant-card-body .ant-card .ant-card-body {
    padding: 14px;
    margin: 5px;
}

.ant-card-body .inner-card-padding-small .ant-card-body {
    padding: 3px;
    margin: 5px;
}

.ant-card .ant-card-body .ant-card {
    padding: 2.5vh;
    background: #f0f0f0;
    border-radius: 6px;
}

.ant-card .ant-card-body .inner-card-padding {
    padding: 0;
    margin: 0;
    background: #f0f0f0;
    border-radius: 6px;
}

.ant-card .ant-card-body .inner-card-padding-two {
    padding: 1vh;
    margin: 0;
    background: #e6e6e666;
    border-radius: 6px;
}

.ant-card .ant-card-body .exam-detail-inner-card {
    padding: 0;
    margin: 0;
    background: #eeff82;
    overflow: hidden;
    border-radius: 0;
}
.ant-card .ant-card-body .exam-result-inner-card {
    padding: 0;
    margin: 0;
    background: #f4f5ec;
    overflow: hidden;
    border-radius: 8px;
}

.ant-space .test-card .ant-card-body {
    padding: 10px 0 0 20px;
    margin: 4px 0 0 10px;
}

.ant-col .ant-card .option-card {
    padding: 0;
    background: #fff;
    border-radius: 0;
}

.ant-radio-wrapper {
    width: 34vw;
}

.ant-col .test-submit-delete {
    font-size: 20px;
    color: rgb(147, 144, 144);
}

.ant-col .test-submit-delete-small {
    font-size: 16px;
    color: rgb(147, 144, 144);
}

.ant-col .test-submit-delete-edit {
    font-size: 22px;
    color: rgb(147, 144, 144);
}

.ant-col .school-submit-delete {
    font-size: 26px;
    color: rgb(147, 144, 144);
}

.ant-col .school-submit-delete:hover {
    color: rgb(123, 143, 240);
}

.ant-col .hover-icon-submit:hover {
    font-size: 22px;
    color: rgb(6, 184, 27);
}

.ant-col .hover-icon-submit-small:hover {
    font-size: 22px;
    color: rgb(6, 184, 27);
}

.ant-col .hover-icon-next:hover {
    font-size: 22px;
    color: #fd9400;
}

.ant-col .hover-icon-delete:hover {
    font-size: 22px;
    color: rgb(240, 41, 41);
}

.ant-col .hover-icon-delete-small:hover {
    font-size: 19px;
    color: rgb(240, 41, 41);
}

.ant-col .hover-icon-edit:hover {
    font-size: 22px;
    color: rgb(59, 56, 244);
}

.ant-col .hover-icon-edit-test:hover {
    font-size: 22px;
    color: #20f540;
}

.ant-col .ant-form-inline .inline-form {
    margin-bottom: 0;
}

.ant-card .ant-card-body .inner-divider {
    margin: 4px 0 10px 0;
    color: black;
}

.ant-message .ant-message-notice-content .anticon {
    top: -2px;
}

.ant-menu .anticon {
    vertical-align: 1px;
}

@media only screen and (max-width: 520px) {
    .display-register {
        display: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .display-question-bar {
        display: none !important;
    }
    /* .segmentedAnt {
        display: flex !important;
        justify-content: center !important;
    } */
}
